<!DOCTYPE html>


<html>
  <head><title>Modbus Login</title>
      <style>
              body{
            background-image: url(../static/img2.png);
            background-size: cover;
        }
        div{
            display: block;
            text-align: center;
            background-color:olive;
            width: 25%;
            height: 30%;
            margin-left: auto;
            margin-right: auto;
            border:2px solid;
            padding: 3%;
            margin-top:20%;
            position: static;
           
        }
             
      </style>


</head>

<body >
    <div>
      <img src="{{ url_for('static', filename='logo.png') }}" alt="i-MODBUS" style="width: 30%;" >
      <h3>Page Not Found</h3>
      <p>What you were looking for is just not here.</p>
      <br>
      <p>Click Here To <a href="http://localhost:5000/login">Login</a></p>
    </div>
</body>
</html> 

