  
  <!DOCTYPE html>
<html>

      
</html>

<html>
  <head><title>Modbus Login</title>
      <style>
      body{
            background-image: url(../static/img2.png);
            background-size: cover;
        }
        div{
            display: block;
            text-align: center;
            background-color:olive;
            width: 25%;
            height: 30%;
            margin-left: auto;
            margin-right: auto;
            border:2px solid;
            padding: 3%;
            margin-top:20%;
            position: static;
           
        }
             
      </style>


</head>

<body >
    <div>
      <img src="{{ url_for('static', filename='logo.png') }}" alt="i-MODBUS" style="width: 30%;" >
  <h3>Internal Server Error</h3>
  <p>Oops... we seem to have made a mistake, sorry!</p>
    </div>
</body>
</html> 

