<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Profile</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Company</label>
                                        <input type="text" class="form-control" disabled  value="CDAC MODBUS">
                                    </div>
                                </div>
                            </div>
                                <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" disabled value="Shweta15">
                                    </div>
                                </div>
                            </div>
                                <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" disabled   value="shweta@gmail.com">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Phone Number</label>
                                        <input type="text" class="form-control" disabled  value="8329214556">
                                    </div>
                                </div>
                            </div>
                           
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>     
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Reset Password</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Old Password</label>
                                        <input type="password" class="form-control"   value="">
                                    </div>
                                </div>
                            </div>
                                <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" class="form-control"  value="">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">                                        
                                        <input type="submit" class="form-control" value="Reset" >
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>       
        </div>

          

    </div>
</div>
